@namespace epub "http://www.idpf.org/2007/ops";

/* @font-face rule removed */

body {
    line-height: 1.7; /* Comfortable line height */
    margin: 3% 5%;    /* Page margins */
    text-align: justify; /* Justified text */
    widows: 2;
    orphans: 2;
}


/* --- Paragraphs & Text --- */
p {
    font-size: 1em; /* Base font size */
    margin-top: 0;
    margin-bottom: 1.2em; /* Paragraph bottom spacing */
    text-indent: 0;     /* First-line indent */
}

p.no-indent {
    text-indent: 0;
}


/* --- Heading hierarchy --- */
h1, .titlel1std {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 3em;
    margin-bottom: 1.5em;
    line-height: 1.3;
    text-indent: 0;
    page-break-before: always; /* Each major chapter starts on a new page */
    border-bottom: 1px solid #cccccc; /* Add a bottom divider line */
    padding-bottom: 0.3em;
}

h2, .titlel2std {
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 2.5em;
    margin-bottom: 1.2em;
    line-height: 1.4;
    text-indent: 0;
    border-bottom: 0.75px solid #cccccc; /* Add a bottom divider line */
    padding-bottom: 0.3em;
}

h3, .titlel3std {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.5;
    text-indent: 0;
}

h4, h5, h6 {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 0.8em;
    line-height: 1.6;
    text-indent: 0;
}


/* --- Images --- */
div.centeredimage, .image-container {
    display: block;
    text-align: center;
    margin: 2em 0; /* Vertical margins for images */
    text-indent: 0;
    page-break-inside: avoid; /* Avoid images being cut by page breaks */
}

img, img.attpic {
    max-width: 95%; /* Image width not exceeding 95% of screen */
    height: auto;
    display: inline-block;
    border: 1px solid #dddddd; /* Give images a light border */
    padding: 4px;
    box-sizing: border-box;
}


/* --- Others --- */
.booktitle {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 30%;
}

.bookauthor {
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
    page-break-after: always;
}

/* --- Core fix: styles targeting table of contents (nav.xhtml) --- */
nav[epub|type="toc"] ol {
    padding: 0;
    margin: 0 0 0 2em;
    list-style-type: none; /* Remove default numeric list markers */
}
nav[epub|type="toc"] li {
    margin: 0;
    padding: 0;
}
nav[epub|type="toc"] ol ol {
    margin-left: 2em; /* Create indent for second-level TOC */
}
nav[epub|type="toc"] a {
    text-decoration: none; /* No underline by default */
    color: #333333;       /* Dark gray text */
    font-size: 1.1em;
    line-height: 1.8;
}
nav[epub|type="toc"] a:hover {
    text-decoration: underline; /* Show underline on hover */
}